<footer class="site-footer">
    <div class="site-footer__inner">
        <div class="site-footer__brand">
            <div class="site-footer__logo">Tap Tap Games</div>
            <p class="site-footer__tagline">
                Play hundreds of free online games anywhere, anytime.
            </p>
        </div>
        <div class="site-footer__links">
            <h3>Explore</h3>
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="../aboutus">About</a></li>
                <li><a href="../privacy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="site-footer__contact">
            <h3>Stay in touch</h3>
            <a href="mailto:taptapgames.fun@gmail.com" class="site-footer__email">taptapgames.fun@gmail.com</a>
        </div> 
    </div>
    <div class="site-footer__bottom">
        <span>© <span id="currentYear"></span> Tap Tap Games. All rights reserved.</span>
    </div>
</footer>
<script type="text/javascript" src="/public/content/themes/default/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/public/content/themes/default/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/content/themes/default/js/script.js"></script>
<script type="text/javascript" src="/public/content/themes/default/js/custom.js"></script>

<script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>