<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Tap Tap Games | About</title>
	<link rel="icon" href="/public/images/favicon.ico">
	<meta property="canonical" content=<%= url %> />
	<meta rel="canonical" content=<%= url %> />
	<link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/grid.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/style.css" />
	<link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/custom.css" />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5217316241873105"
		crossorigin="anonymous"></script>
	<script type="module">
		// Import the functions you need from the SDKs you need
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-analytics.js";
		const firebaseConfig = {
			apiKey: "AIzaSyAJHvyMAl2ftQ7Uh_-mFVdgDU0NQpEZ1S0",
			authDomain: "taptapgames-24299.firebaseapp.com",
			projectId: "taptapgames-24299",
			storageBucket: "taptapgames-24299.appspot.com",
			messagingSenderId: "364423052887",
			appId: "1:364423052887:web:7b1704bc7d7c8658996d12",
			measurementId: "G-Y2Y5N7CH3T"
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);
	</script>
	<script type='text/javascript'>
		window._tfa = window._tfa || [];
		window._tfa.push({ notify: 'event', name: 'page_view', id: 1677499 });
		!function (t, f, a, x) {
			if (!document.getElementById(x)) {
				t.async = 1; t.src = a; t.id = x; f.parentNode.insertBefore(t, f);
			}
		}(document.createElement('script'),
			document.getElementsByTagName('script')[0],
			'//cdn.taboola.com/libtrc/unip/1677499/tfa.js',
			'tb_tfa_script');
	</script>
	<script type="text/javascript">
		(function (c, l, a, r, i, t, y) {
			c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
			t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
			y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "m8o848k45i");
	</script>
</head>

<body id="page-top">
	<nav class="top-nav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="../"><img width="100px" src="/public/images/taptap_meta.png"
					class="site-logo" alt="site-logo"></a>
			<p class="title text-center">Explore New Worlds: Your Online Adventure Begins Here!</p>
		</div>
	</nav>
	<div class="container">
		<ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
			data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
			data-full-width-responsive="true"></ins>
		<h1>About - Tap Tap Games</h1>
		<p>Welcome to Tap Tap Games!</p>

		<h2>About Us</h2>
		<p>Tap Tap Games is a collection of fun and engaging HTML games designed to entertain players of all ages. Our
			mission is to provide accessible, enjoyable gaming experiences that can be enjoyed anytime, anywhere, right
			from your web browser.</p>

		<h2>Our Team</h2>
		<p>At Tap Tap Games, we're passionate about gaming and dedicated to delivering high-quality experiences to our
			players. Our team of developers, designers, and enthusiasts work tirelessly to create new and exciting games
			for you to enjoy.</p>

		<h2>Features</h2>
		<ul>
			<li>A diverse selection of HTML games to suit every taste and preference.</li>
			<li>Intuitive controls and gameplay mechanics designed for seamless enjoyment.</li>
			<li>Regular updates and additions to our game library, ensuring there's always something new to discover.
			</li>
			<li>Compatibility with all modern web browsers, so you can play on any device with ease.</li>
		</ul>
		<ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
			data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
			data-full-width-responsive="true"></ins>
		<h2>Contact Us</h2>
		<p>Have a question, suggestion, or just want to say hello? We'd love to hear from you! You can reach out to us
			via email at <a href="mailto:your-email@example.com">your-email@example.com</a> or connect with us on social
			media.</p>

		<h2>Support Us</h2>
		<p>If you enjoy playing Tap Tap Games, consider supporting us! Your contributions help us continue to create and
			improve our games for everyone to enjoy. Visit our Support Us page to learn more about how you can help.</p>

		<h2>Privacy Policy</h2>
		<p>Your privacy is important to us. Read our Privacy Policy to learn more about how we collect, use, and protect
			your personal information while you play Tap Tap Games.</p>

		<h2>Terms of Service</h2>
		<p>By accessing and using Tap Tap Games, you agree to abide by our Terms of Service. Be sure to review them
			before you start playing.</p>

		<p>Thank you for choosing Tap Tap Games! We hope you have a fantastic gaming experience.</p>
		<ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
			data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
			data-full-width-responsive="true"></ins>
	</div>



	<script>
		[].forEach.call(document.querySelectorAll('.adsbygoogle'), function () {
			(adsbygoogle = window.adsbygoogle || []).push({});
		});
	</script>
	<%- include('partials/footer') %>
</body>

</html>