<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/public/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/public/sub/css/app.css" />
    <link rel="icon" href="/public/images/favicon.ico">
    <title>Tap Tap Games | Lets Play Online Games</title>
    <meta property="og:title" content="Tap Tap Games | Lets Play Online Games" />
    <meta property="og:url" content="anime.taptapgames.fun" />
    <meta property="canonical" content="anime.taptapgames.fun" />
    <meta rel="canonical" content="anime.taptapgames.fun" />
    <meta property="og:type" content="game" />
    <meta property=" og:description"
        content="#1 Website for playing free online games on your mobile, tablet or computer. No login, no downloads. Play now!" />
    <meta property="og:image" content="https://taptapgames.fun/images/taptap_meta.png" />
    <meta name="keywords" content="Play tap tap games, tap tap games, online tap tap games" />
    <meta name="author" content="tap tap Games" />
    <script async src="https://fundingchoicesmessages.google.com/i/pub-5217316241873105?ers=1"
        nonce="uwxUYbp7v2VgthPiWopS5w"></script>
    <script
        nonce="uwxUYbp7v2VgthPiWopS5w">(function () { function signalGooglefcPresent() { if (!window.frames['googlefcPresent']) { if (document.body) { const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe); } else { setTimeout(signalGooglefcPresent, 0); } } } signalGooglefcPresent(); })();</script>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="/public/sub/css/style.css" />
    <link rel="stylesheet" href="/public/sub/css/media.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
        const firebaseConfig = {
            apiKey: "AIzaSyAJHvyMAl2ftQ7Uh_-mFVdgDU0NQpEZ1S0",
            authDomain: "taptapgames-24299.firebaseapp.com",
            projectId: "taptapgames-24299",
            storageBucket: "taptapgames-24299.appspot.com",
            messagingSenderId: "364423052887",
            appId: "1:364423052887:web:7b1704bc7d7c8658996d12",
            measurementId: "G-Y2Y5N7CH3T"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/public/sub/js/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type='text/javascript'>
        window._tfa = window._tfa || [];
        window._tfa.push({ notify: 'event', name: 'page_view', id: 1677499 });
        !function (t, f, a, x) {
            if (!document.getElementById(x)) {
                t.async = 1; t.src = a; t.id = x; f.parentNode.insertBefore(t, f);
            }
        }(document.createElement('script'),
            document.getElementsByTagName('script')[0],
            '//cdn.taboola.com/libtrc/unip/1677499/tfa.js',
            'tb_tfa_script');
    </script>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "m8o848k45i");
    </script>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5BGZ3CVT');</script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>

    <script>
        window.googletag = window.googletag || { cmd: [] };
        var adSlot1, adSlot2;
        let interstitialSlot;

        googletag.cmd.push(() => {
            interstitialSlot = googletag.defineOutOfPageSlot(
                "/23149964868/taptapgames_ad1_top_728x90",
                googletag.enums.OutOfPageFormat.INTERSTITIAL,
            );

            if (interstitialSlot) {
                interstitialSlot.addService(googletag.pubads()).setConfig({
                    interstitial: {
                        triggers: {
                            navBar: true,
                            unhideWindow: true,
                        },
                    },
                });

                googletag.pubads().addEventListener("slotOnload", (event) => {
                });
            }

            adSlot1 = googletag
                .defineSlot('/23149964868/taptapgames_ad1_top_728x90', [[300, 100], 'fluid', [300, 250], [300, 50], [300, 31], [300, 75]], 'div-gpt-ad-1717150728562-0')
                .addService(googletag.pubads());
            adSlot2 = googletag
                .defineSlot('/23149964868/taptapgames_ad1_top_728x90', [[300, 100], 'fluid', [300, 250], [300, 50], [300, 31], [300, 75]], 'div-gpt-ad-1717150728562-1')
                .addService(googletag.pubads());
            googletag.pubads().collapseEmptyDivs();
            googletag.enableServices();
        });
    </script>

</head>

<body>
    <link rel="stylesheet" href="/public/sub/js/custome.js" />
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BGZ3CVT" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main class="app-wrapper-container">
        <div id="snackbar"></div>

        <div id="prelogin_top">
            <div class="navbar d-flex justify-content-center align-items-center" style="margin-bottom: 10px;">
                <svg width="50" height="35" viewBox="0 0 103 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M22.506 37.5312C22.506 43.6719 18.7873 47.3906 12.506 47.3906C5.77163 47.3906 1.64663 42.9844 1.64663 35.6562C1.64663 28.4375 5.77163 24.0625 12.3966 24.0625C17.6623 24.0625 21.631 27.1719 22.3029 31.7344H17.5685C16.881 29.375 14.9591 27.9688 12.4123 27.9688C8.6935 27.9688 6.45913 30.7969 6.45913 35.5938C6.45913 40.4844 8.83413 43.4688 12.5841 43.4688C15.6623 43.4688 17.8029 41.5781 17.8966 38.7812L17.9123 38.4219H13.006V34.9844H22.506V37.5312ZM31.4249 43.9688C33.4093 43.9688 35.0499 42.6719 35.0499 40.8594V39.6406L31.5186 39.8594C29.8155 39.9844 28.8468 40.75 28.8468 41.9375C28.8468 43.1875 29.878 43.9688 31.4249 43.9688ZM29.9249 47.2656C26.7374 47.2656 24.3155 45.2031 24.3155 42.1875C24.3155 39.1406 26.6593 37.375 30.8311 37.125L35.0499 36.875V35.7656C35.0499 34.2031 33.9561 33.2969 32.2374 33.2969C30.5343 33.2969 29.4561 34.1406 29.2374 35.375H25.0655C25.2374 32.125 28.003 29.8906 32.4405 29.8906C36.7374 29.8906 39.5343 32.1094 39.5343 35.4844V47H35.128V44.4375H35.0343C34.0968 46.2188 32.0186 47.2656 29.9249 47.2656ZM42.3594 47V30.25H46.7656V33.2812H46.8594C47.5625 31.2656 49.3594 29.9375 51.6406 29.9375C54.0625 29.9375 55.75 31.1875 56.3125 33.375H56.4062C57.1562 31.2656 59.1562 29.9375 61.6094 29.9375C64.8906 29.9375 67.0938 32.1875 67.0938 35.5625V47H62.5312V36.7031C62.5312 34.7656 61.5625 33.7031 59.7969 33.7031C58.0625 33.7031 56.9219 34.9688 56.9219 36.8281V47H52.5312V36.5625C52.5312 34.7656 51.5156 33.7031 49.8281 33.7031C48.0938 33.7031 46.9219 35.0156 46.9219 36.8906V47H42.3594ZM77.372 33.2656C75.372 33.2656 73.9345 34.7812 73.7782 36.875H80.8876C80.7939 34.7344 79.4032 33.2656 77.372 33.2656ZM80.9501 41.875H85.1376C84.6376 45.1562 81.6376 47.3594 77.497 47.3594C72.3407 47.3594 69.247 44.0625 69.247 38.7031C69.247 33.3594 72.372 29.8906 77.3251 29.8906C82.2001 29.8906 85.2782 33.1875 85.2782 38.2812V39.6719H73.7314V39.9531C73.7314 42.3438 75.247 43.9844 77.5751 43.9844C79.247 43.9844 80.5282 43.1562 80.9501 41.875ZM87.2284 35.1719C87.2284 31.9844 89.994 29.8906 94.2909 29.8906C98.494 29.8906 101.228 32.0156 101.291 35.2656H97.0878C96.994 33.9219 95.9159 33.0938 94.2284 33.0938C92.6503 33.0938 91.619 33.8125 91.619 34.8906C91.619 35.7188 92.3378 36.2812 93.8065 36.625L97.0096 37.3125C100.369 38.0625 101.728 39.3906 101.728 41.8906C101.728 45.1875 98.6971 47.3594 94.2753 47.3594C89.8065 47.3594 87.0565 45.2031 86.8065 41.9375H91.2596C91.4784 43.3438 92.5878 44.1562 94.4003 44.1562C96.1346 44.1562 97.1815 43.4688 97.1815 42.375C97.1815 41.5312 96.619 41.0625 95.119 40.7031L92.0253 40.0156C88.8534 39.2969 87.2284 37.6406 87.2284 35.1719Z"
                        fill="white"></path>
                    <path
                        d="M36.5115 21.2949C37.6278 21.2949 38.5506 20.5654 38.5506 19.5459V18.8604L36.5643 18.9834C35.6063 19.0537 35.0613 19.4844 35.0613 20.1523C35.0613 20.8555 35.6414 21.2949 36.5115 21.2949ZM35.6678 23.1494C33.8748 23.1494 32.5125 21.9893 32.5125 20.293C32.5125 18.5791 33.8309 17.5859 36.1776 17.4453L38.5506 17.3047V16.6807C38.5506 15.8018 37.9354 15.292 36.9686 15.292C36.0106 15.292 35.4041 15.7666 35.2811 16.4609H32.9344C33.0311 14.6328 34.5867 13.376 37.0828 13.376C39.4998 13.376 41.0731 14.624 41.0731 16.5225V23H38.5946V21.5586H38.5418C38.0145 22.5605 36.8455 23.1494 35.6678 23.1494ZM48.1642 13.4287C50.5548 13.4287 52.0226 15.248 52.0226 18.2891C52.0226 21.3213 50.5636 23.1494 48.2081 23.1494C46.837 23.1494 45.7823 22.4814 45.2813 21.418H45.2286V26.0762H42.6622V13.5781H45.1934V15.2217H45.2462C45.7559 14.1143 46.8018 13.4287 48.1642 13.4287ZM47.3028 21.084C48.586 21.084 49.3946 20.0029 49.3946 18.2891C49.3946 16.584 48.586 15.4854 47.3028 15.4854C46.046 15.4854 45.2198 16.6016 45.2198 18.2891C45.2198 19.9941 46.046 21.084 47.3028 21.084ZM70.9018 21.2949C72.018 21.2949 72.9409 20.5654 72.9409 19.5459V18.8604L70.9545 18.9834C69.9965 19.0537 69.4516 19.4844 69.4516 20.1523C69.4516 20.8555 70.0317 21.2949 70.9018 21.2949ZM70.0581 23.1494C68.2651 23.1494 66.9028 21.9893 66.9028 20.293C66.9028 18.5791 68.2211 17.5859 70.5678 17.4453L72.9409 17.3047V16.6807C72.9409 15.8018 72.3256 15.292 71.3588 15.292C70.4008 15.292 69.7944 15.7666 69.6713 16.4609H67.3247C67.4213 14.6328 68.977 13.376 71.4731 13.376C73.8901 13.376 75.4633 14.624 75.4633 16.5225V23H72.9848V21.5586H72.9321C72.4047 22.5605 71.2358 23.1494 70.0581 23.1494ZM82.5544 13.4287C84.945 13.4287 86.4128 15.248 86.4128 18.2891C86.4128 21.3213 84.9538 23.1494 82.5984 23.1494C81.2273 23.1494 80.1726 22.4814 79.6716 21.418H79.6189V26.0762H77.0525V13.5781H79.5837V15.2217H79.6365C80.1462 14.1143 81.1921 13.4287 82.5544 13.4287ZM81.6931 21.084C82.9763 21.084 83.7849 20.0029 83.7849 18.2891C83.7849 16.584 82.9763 15.4854 81.6931 15.4854C80.4363 15.4854 79.6101 16.6016 79.6101 18.2891C79.6101 19.9941 80.4363 21.084 81.6931 21.084Z"
                        fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M59.9755 12.771V21.5136C59.9755 21.5136 60.4787 24.1774 62.9087 23.9906C65.3386 23.8038 65.8418 21.805 65.8418 21.805L65.9751 13.0624C65.9751 13.0624 65.5447 10.1152 62.9087 10.0026C60.7447 9.91003 59.9534 12.361 59.9755 12.771Z"
                        fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M54.5653 3.42861L70.3229 1.00007C70.3229 1.00007 73.5598 0.942066 73.937 4.28575C74.3141 7.62943 71.7685 7.85714 71.7685 7.85714L55.1436 8C55.1436 8 52.9797 7.62957 52.9751 5.71431C52.9705 3.79904 54.5653 3.42861 54.5653 3.42861Z"
                        fill="white"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M20.8988 0.137101L34.9135 6.53656C34.9135 6.53656 37.2156 7.1052 36.9545 10.0106C36.6934 12.9159 34.5233 12.5089 34.5053 12.5703C34.4874 12.6318 30.9676 11.839 30.9676 11.839L30.4752 21.5C30.4752 21.5 29.3621 24.6235 27.566 23.9065C25.7699 23.1896 25.4249 22.0519 24.9752 21C24.7745 20.5306 24.9752 10 24.9752 10L18.9752 8.5C18.9752 8.5 15.9875 7.48551 17.3611 3.24541C18.7347 -0.99469 20.8988 0.137101 20.8988 0.137101Z"
                        fill="white"></path>
                </svg>
            </div>



            <div id='div-gpt-ad-1717150728562-0' style='min-width: 300px; min-height: 31px;text-align: center;'>
            </div>

            <section class="top-games-section position-relative pb-3 pt-0 top-games-active-users">
                <div class="container">
                    <div class="row" id="installpopup">
                        <h3 class="col-12 text-center mt-4">
                            <div class="adBG p-2">
                                <div class="mb-3 txtClr">Anime Portal: Tap to add on Home Screen</div>

                                <div class="d-flex justify-content-around pb-1">
                                    <button type="button" id="install" class="cusBtnOption">Add</button>
                                </div>
                            </div>
                        </h3>
                    </div>
                </div>
                <div id='div-gpt-ad-1717150728562-1' style='min-width: 300px; min-height: 31px;text-align: center;'>
                </div>

                <%- include('ads/displayads') %>

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <hgroup class="text-center mt-3">
                                    <h3 style="color: black;">Tap Tap Games - Lets play online</h3>
                                </hgroup>
                                <div class="form-row">
                                    <a href="https://taptapgames.fun/game/ai-anime-streamers" class="col-6 cols"
                                        v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://taptapgames.fun/thumbs/AI-Anime-Streamers.jpg"
                                                    data-src="https://taptapgames.fun/thumbs/AI-Anime-Streamers.jpg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>AI Anime</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://taptapgames.fun/game/anime-dress-up" class="col-6 cols"
                                        v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://taptapgames.fun/thumbs/Anime%20Dress%20Up.jpg"
                                                    data-src="https://taptapgames.fun/thumbs/Anime%20Dress%20Up.jpg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>Anime Dress Up</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="taptapgames.fun/game/kawaii-high-school-teacher-dress-up"
                                        class="col-6 cols" v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://img.gamedistribution.com/bf92e0757aed45d6ba6e4b40e09535b1-512x384.jpeg"
                                                    data-src="https://img.gamedistribution.com/bf92e0757aed45d6ba6e4b40e09535b1-512x384.jpeg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>Kawaii School</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="https://taptapgames.fun/game/anime-girls-memory-card" class="col-6 cols"
                                        v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://img.gamedistribution.com/341fe12ce23240869b5599555b725b0b-512x512.jpeg"
                                                    data-src="https://img.gamedistribution.com/341fe12ce23240869b5599555b725b0b-512x512.jpeg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>ANIME GIRLS</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>



                                    <a href="https://taptapgames.fun/game/match-candy-1" class="col-6 cols"
                                        v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://img.gamedistribution.com/729c7a245af24785a82019f707103aab-512x512.jpeg"
                                                    data-src="https://img.gamedistribution.com/729c7a245af24785a82019f707103aab-512x512.jpeg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>ANIME Match</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>


                                    <a href="https://taptapgames.fun/game/anigirls-wonderful-clicker" class="col-6 cols"
                                        v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://img.gamedistribution.com/2d08408fcb514a24a48f5712dfd2e1d4-512x512.jpeg"
                                                    data-src="https://img.gamedistribution.com/2d08408fcb514a24a48f5712dfd2e1d4-512x512.jpeg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>Anigirls Clicker</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="https://taptapgames.fun/game/high-school-anime-dress-up" class="col-6 cols"
                                        v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://img.gamedistribution.com/2d5d95ef54384fd988bd207ab7157006-512x512.jpeg"
                                                    data-src="https://img.gamedistribution.com/2d5d95ef54384fd988bd207ab7157006-512x512.jpeg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>School Anime</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>



                                    <a href="https://taptapgames.fun/game/my-manga-avatar" class="col-6 cols"
                                        v-for="game in game_list"
                                        v-if="game.consolidate_high_score.total_contest > 0 && game.seo_url!=null">
                                        <div class="card-box p-2">
                                            <div class="featured-image">
                                                <img class="lazy"
                                                    src="https://img.gamedistribution.com/957d379040ae42a8859987370c2bef77-512x512.jpeg"
                                                    data-src="https://img.gamedistribution.com/957d379040ae42a8859987370c2bef77-512x512.jpeg"
                                                    alt="" />
                                            </div>
                                            <div class="game-name w-100 my-1 text-center">
                                                <p class="m-0 txtClr"><b>Manga Avatar</b></p>
                                            </div>
                                            <div
                                                class="content d-flex flex-column justfy-content-center align-iteams-center">
                                                <div class="playcusBtnOption text-center"><span
                                                        class="shimmer-effect text-white">Play Game</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="content d-flex flex-column justfy-content-center align-iteams-center">
                            <a class="playcusBtnOption text-center" href="https://taptapgames.fun"><span
                                    class="shimmer-effect text-white">More Games</span></a>

                        </div>

                        <a class="text-center d-flex justify-content-center"
                            href="https://taptapgames.fun/privacy">Privacy
                            Policy</a>

                    </div>
            </section>
            <footer class="py-3">
                <div class="container">
                    <div class="align-items-center d-flex justify-content-center">
                        <div class="cols social-icons desktop-view">
                            <a href="https://www.facebook.com/people/Tap-Tap-Games/61559676293656/"><i
                                    class="fa-brands fa-square-facebook"></i></a>
                            <a href="https://www.instagram.com/taptapgames.fun/"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.youtube.com/@TapTapGames-fun"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <style scoped>
        .adbox {
            min-height: 250px;
        }

        .form-row>a:hover {
            text-decoration: none !important;
        }
    </style>
    <script>
        let deferredPrompt;

        $(window).on('beforeinstallprompt', function (e) {
            console.log('beforeinstallprompt Event fired');
            e.preventDefault();
            deferredPrompt = e.originalEvent;
            return false;
        });
        $(document).ready(function () {
            const installApp = document.getElementById('install');
            installApp.addEventListener('click', async () => {
                debugger
                if (deferredPrompt !== undefined) {
                    deferredPrompt.prompt();
                    const { outcome } = await deferredPrompt.userChoice;
                    if (outcome === 'accepted') {
                        deferredPrompt = null;
                    }
                }
            });
        });
    </script>
</body>


</html>