<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Tap Tap Games | Privacy Policy</title>
    <link rel="icon" href="/public/images/favicon.ico">
    <meta property="canonical" content=<%= url %> />
    <meta rel="canonical" content=<%= url %> />
    <link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/grid.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/style.css" />
    <link rel="stylesheet" type="text/css" href="/public/content/themes/default/style/custom.css" />
    <script async 
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5217316241873105"
    crossorigin="anonymous"></script>
    <script type="module">
		// Import the functions you need from the SDKs you need
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-analytics.js";
		const firebaseConfig = {
		  apiKey: "AIzaSyAJHvyMAl2ftQ7Uh_-mFVdgDU0NQpEZ1S0",
		  authDomain: "taptapgames-24299.firebaseapp.com",
		  projectId: "taptapgames-24299",
		  storageBucket: "taptapgames-24299.appspot.com",
		  messagingSenderId: "364423052887",
		  appId: "1:364423052887:web:7b1704bc7d7c8658996d12",
		  measurementId: "G-Y2Y5N7CH3T"
		};
	  
		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);
	  </script>
    <script type='text/javascript'>
		window._tfa = window._tfa || [];
		window._tfa.push({ notify: 'event', name: 'page_view', id: 1677499 });
		!function (t, f, a, x) {
			if (!document.getElementById(x)) {
				t.async = 1; t.src = a; t.id = x; f.parentNode.insertBefore(t, f);
			}
		}(document.createElement('script'),
			document.getElementsByTagName('script')[0],
			'//cdn.taboola.com/libtrc/unip/1677499/tfa.js',
			'tb_tfa_script');
	</script>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "m8o848k45i");
    </script>
</head>

<body>
    <nav class="top-nav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="../"><img width="100px" src="/public/images/taptap_meta.png"
                    class="site-logo" alt="site-logo"></a>
            <p class="title text-center">Explore New Worlds: Your Online Adventure Begins Here!</p>
        </div>
    </nav>
    <div class="container">
        <ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
				data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
				data-full-width-responsive="true"></ins>
        <h1>Privacy Policy</h1>
        <section>
            <h2>1. General Information</h2>
            <p>Tap Tap Games is committed to protecting the privacy of everyone who uses our websites and applications.
                The Tap Tap Games websites and applications can be used all over the world. The privacy and data
                protection requirements vary per country. Regardless of where your personal data is processed, we
                believe it is important to provide the same high level of protection as described in this privacy
                statement, which now applies in all countries. This privacy statement is designed to provide
                transparency into Tap Tap Games’s privacy practices and principles. It provides information on the data
                that we collect from our website visitors through our taptapgames.fun web platform, our Tap Tap Games
                for Developers platform, and other general- audience sites and applications (hereafter referred to
                together as the "Tap Tap Games Website"). Please click this link for an overview of the domains referred
                to as the "Tap Tap Games Website".</p>
            <p>The Tap Tap Games Website is owned and operated by Tap Tap Games (referred to in this Privacy Statement
                as "Tap Tap Games", "we", "our", or "us").</p>
            <p>* Please note that we determine from which region you visit our website based on your IP-address, thus if
                you use a VPN-connection, you may not be shown the Privacy Statement applicable to you.</p>
            <p>* We do not change anything in the source code of the games. For example, credit holders, brand names, or
                references to websites remain unchanged. If any copyright or other IPR that you may have is possibly
                being infringed by/on Tap Tap Games’ sites, please inform us immediately at taptapgames.fun@gmail.com,
                thereby providing us with the following:</p>
            <p>i) the electronic or physical signature of the owner of the IPR or the person authorized to act on the
                owner's behalf;</p>
            <p>ii) a description of the IP Right that has been infringed, and a description of the infringing activity;
            </p>
            <p>iii) the location where the unauthorized copy of the copyrighted work exists (for example, the URL of the
                Thopgames website where it is posted, or the name of the book in which it has been published, or, in
                case of a registered brand name, an excerpt of such register evidencing the registry);</p>
            <p>iv) a copy of a license in which you are granted the right to use and to protect such IPR (if you are not
                the owner of the IPR);</p>
            <p>v) the identification of the URL or other specific location on this site where the material that you
                claim is infringing is located; this information must be specific enough to enable us to locate such
                material;</p>
            <p>vi) your name and full contact details; and</p>
            <p>vii) a statement by you that you have a sincere and honest belief that the disputed use is not authorized
                by the copyright owner, its agent, or the law.</p>
            <p>Send above details at taptapgames.fun@gmail.com. We will review it and will start taking action on it as
                soon as possible. We will reply you on any of the query within 7 days.</p>
        </section>
        <ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
        data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <section>
            <h2>2. Which Data is Used and for What Purposes?</h2>
            <p>All features on the Tap Tap Games Website are available without the need for registration by Website
                Visitors. No contact details such as your name, email address and phone number are requested from or
                processed about Website Visitors, unless they actively contact us. Furthermore, our game developers are
                in principle required to remove all outgoing links and branding/advertisements (e.g. splash-screens,
                social links and app-store links) from their games.</p>
            <p>Nonetheless, Tap Tap Games does collect certain electronic data. We can process this data in various
                ways. Please find directly below some general information about our processing of your data and further
                below, you find an overview of various topics on which you can click for more detailed information about
                the processing of your data in a specific context.</p>
        </section>

        <section>
            <h2>Legitimate interest</h2>
            <p>Sometimes we indicate that we process your data based on the legal ground "legitimate interest". This
                means that a balance of interests is performed between the interests that are served by the processing
                on the one hand and your privacy interests on the other hand, and that the interests in favor of the
                processing prevail. The related legitimate interests are included below per topic. If you want more
                information about this, you can contact us directly via our contact details stated below.</p>
        </section>

        <section>
            <h2>Minors and other persons with a legal representative</h2>
            <p>The Tap Tap Games Website is not meant for persons younger than 16 years. We also do not focus on persons
                who are placed under a legal relationship, such as guardianship or persons who are supervised or
                administered by someone else. If, in exceptional cases, we could focus on such persons, Tap Tap Games
                will take into account the vulnerable position of these persons and take extra precautions.</p>
        </section>


        <section>
            <h2>3. How do we obtain your data?</h2>
            <p>We obtain your data in various ways:</p>
            <p>Provided by you. Some data about you, we receive straight from you. Examples include information in your
                messages to us and information you enter in our application form.</p>
            <p>Obtained internally. It is possible that we obtain your data via other Tap Tap Games systems. An example
                for game developers is the data which is included into our CRM system.</p>
            <p>Obtained from third parties. We could also obtain data about you from other persons or external parties.
                Specifically, we make use of this possibility in two scenarios:</p>
            <p>Website Visitors: we may receive information about you from privately held third parties, such as for the
                advertisements that are shown on the Tap Tap Games Website. Further information on this is included in
                our Cookie Statement.</p>
            <p>Applicants: we may obtain information from a referral included by you in your application.</p>
            <p>Automatically obtained. Some data we obtain automatically, for example by using cookies and similar
                techniques. When your computer or mobile device contacts our web servers (e.g. when you visit the Tap
                Tap Games Website), our web servers automatically collect usage information. Such usage information
                includes information about how our Website Visitors use and navigate the Tap Tap Games Website. It can
                include the number and frequency of Website Visitors to each web page and the length of their stays,
                browser type, and referrer data that identifies the web page visited prior and subsequent to visiting
                the Tap Tap Games Website. Further information on this is included in our Cookie Statement.</p>
            <p>Derived. Certain data we do not receive directly, but can be derived from the information already in our
                possession. For example, information about your language preferences.</p>
            <p>In principle you are under no obligation to provide any information about yourself to us. However,
                refusal to supply certain information could have a negative influence on, for example, the functionality
                of the Tap Tap Games Website. If the provision of certain personal data is a legal or contractual
                obligation or an essential requirement for concluding an agreement with us, we will separately provide
                additional information about this for as far as this is not clear in advance. In such case we will also
                inform you about the possible consequences if this information is not provided.</p>

        </section>
        <ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
        data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <section>
            <h2>4. Who do we share your data with?</h2>
            <p>We only share your data with third parties if:</p>
            <p>This is necessary for the provision of a service or the involvement of the third party. Sub-contractors,
                for example, will in principle only get access to the data that they require for their part of the
                service provision.</p>

            <p>The persons within the third party that have access to the data are under an obligation to treat your
                data confidentially. Where necessary this is also contractually agreed on.</p>
            <p>The third party is obliged to comply with the applicable regulations for the protection of personal data,
                for instance because we have concluded an agreement with this party or because our Terms of Use apply.
                This includes that the party is obliged to ensure appropriate technical and organizational security
                measures.</p>
            <p>We could share your data on a need-to-know basis with the parties mentioned below. In this context,
                "need-to-know" means that a party only gets access to your data if and insofar as this is required for
                the professional services provided by this party.</p>
            <p>Authorized persons, employed by Tap Tap Games, who are involved with the processing activity concerned.
                Such as, the members of the support team you are in contact with.</p>
            <p>Authorized persons, employed by service providers / sub-contractors engaged by Tap Tap Games, who are
                involved with the processing activity concerned. Such as, the service provider for the Tap Tap Games web
                shop.</p>
            <p>Authorized persons, employed by service providers / sub-contractors engaged by Tap Tap Games, who are
                involved with the processing activity concerned. Such as, the service provider for the Tap Tap Games web
                shop.</p>
            <p>Authorized government institutions. Such as, courts, police, and law enforcement agencies. We may release
                information about our Website Visitors, when legally required to do so, at the request of governmental
                institutions conducting an investigation or to verify or enforce compliance with the policies governing
                the Tap Tap Games Website and applicable law. We may also disclose such user information whenever we
                believe disclosure is necessary to protect the rights, property or safety of Tap Tap Games, or any of
                our respective business partners, customers or others.</p>
            <p>Aggregate Information. We may also disclose non-identifying, aggregated user statistics to third parties
                for a variety of purposes, including describing our services to prospective partners and other third
                parties. Examples of such non-personal information include the number of users who visited this Tap Tap
                Games Website during a specific time period or played a specific game.</p>
        </section>
        <ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
        data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <section>
            <h2>5. How do we secure your data?</h2>
            <p>Protecting your privacy and data is very important to us. Therefore, Tap Tap Games has implemented
                appropriate technical and organizational measures to protect and secure personal data, in order to
                prevent violations of the confidentiality, integrity and availability of the data. All Tap Tap Games
                employees and other persons engaged by Tap Tap Games for the processing of data are obliged to respect
                the confidentiality of personal data.</p>
            <p>Tap Tap Games has internal documentation in which it is described how we safeguard an appropriate level
                of technical and organizational security. In addition, a data breach procedure is applicable within Tap
                Tap Games, in which it is explained how (potential) data breaches need to be handled. We will, for
                example, inform the competent supervisory authority and involved data subjects when this is required by
                the applicable law.</p>
        </section>

        <section>
            <h2>6. To which countries will we transfer your data?</h2>
            <p>Parties involved with the processing of your data may be located in a different country than you are. No
                matter where you are located, we are securing your personal data as much as reasonably possible.</p>
            <p>If your data is transferred from the EU to a party located outside the EU, we call this an 'EU transfer'
                (see this link for an overview of the EU countries). If your data is transferred from the UK to a party
                located outside the UK, we call this a 'UK transfer'. EU transfers and UK transfers are legitimized in
                the manner described below. You may contact us for information on the legitimization of other data
                transfers.</p>
            <p>EU transfers. An EU transfer EUcan in the first place be legitimized based on an adequacy decision of the
                European Commission, in which it is decided that the (part within the) third country in question ensures
                an adequate level of data protection. See this link for a summary of the applicable adequacy decisions.
            </p>
            <p>Parties involved with the processing of your data may be located in a different country than you are. No
                matter where you are located, we are securing your personal data as much as reasonably possible.</p>
            <p>If an EU transfer and/or UK transfer takes place for which there is no adequacy decision or adequacy
                regulation in place, we agree on the applicability of the relevant version of the Standard Contractual
                Clauses with the relevant party. This is a standard contract to safeguard the protection of your data,
                which is approved by the European Commission in which the parties fill out the appendices. See this link
                for the various versions of the Standard Contractual Clauses for the EU. Where appropriate, additional
                safeguards should be taken. Where the UK GDPR is applicable, a UK Addendum will be added to the Standard
                Contractual Clauses mentioned above, as required by UK law and regulations (see this link).</p>
            <p>In specific situations we can also rely on the derogations as specified in applicable law to legitimize
                the EU transfer and/or UK data transfer. This could mean that we may transfer your data: (i) with your
                explicit consent, (ii) if this is necessary for the performance of a contract that has been concluded
                with you or has been concluded in your interest, or (iii) if this is necessary for the establishment,
                exercise or defense of legal claims. Lastly, in exceptional cases we may also transfer your data if the
                data transfer is necessary for our compelling legitimate interests and is not overridden by your
                interests or rights and freedoms.</p>
            <p>You can contact us if you want additional information via our contact details as stated at the bottom of
                this Privacy Statement.</p>
            <p>Google Analytics Blockage. Please note that we do not use Google Analytics on any of our websites.
                However, it is possible that one of the game developers we work with tries to use Google Analytics for
                tracking in-game activities. We actively try to find these implementations and overwrite them for users
                from the EU.</p>
        </section>
        <ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
        data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <section>
            <h2>7. How do we determine how long we retain your data?</h2>
            <p>In general, we do not keep your data for longer than what is necessary in relation to the purposes for
                which we process the data. There could however be exceptions applicable to the general retention terms.
            </p>

            <p>Exception: shorter retention period. If you exercise certain privacy rights, it is possible that Tap Tap
                Games will remove your data earlier than the general applicable retention period or – oppositely –
                retain it for a longer period of time. For more information about this, please refer to the header "What
                are your privacy rights (incl. right to object)?"</p>

            <p>Exception: longer retention period. In certain situations, we process your data for a longer period of
                time than what is necessary for the purpose of the processing. This is for instance the case when we
                have to process your data for a longer period of time:</p>

            <p>Retention obligation. To comply with a minimum retention period or other legal obligation to which we
                are subject based on the applicable law;
                Procedure. Your personal data is necessary in relation to a legal procedure;
                Freedom of expression. When further processing of your personal data is necessary in order to exercise
                the right to freedom of expression and information.</p>
        </section>

        <section>
            <h2>8. What are your privacy rights (incl. right to object)?</h2>
            <p>You have various privacy rights. Which privacy rights you have, depends on the applicable law. To what
                extent you can exercise these rights may depend on the circumstances of the processing, such as the
                manner
                in which Tap Tap Games processes the personal data and the legal ground for the processing. Below, we
                included a summary of the privacy rights you may have. The applicable law may allow or require us to
                refuse
                your request, because these rights are not absolute or may not be applicable in your region.</p>

            <p>For more information about your privacy rights in other jurisdictions, such as the Member States of the
                EU
                or the UK, go to this webpage
                <span>
                    <a
                        href="https://europa.eu/youreurope/citizens/consumers/internet-telecoms/data-protection-online-privacy/index_en.htm">
                        https://europa.eu/youreurope/citizens/consumers/internet-telecoms/data-protection-online-privacy/index_en.htm
                    </a>
                </span>
                or this webpage
                <span>
                    <a
                        href="https://commission.europa.eu/law/law-topic/data-protection/reform/rights-citizens/my-rights_en">
                        https://commission.europa.eu/law/law-topic/data-protection/reform/rights-citizens/my-rights_en
                    </a>
                </span>
                of the
                European Commission or this webpage
                <span>
                    <a href="https://ico.org.uk/for-the-public/">
                        https://ico.org.uk/for-the-public/
                    </a>
                </span> of the UK Information
                Commissioner’s
                Office. In case you are visiting the Tap Tap Games Website from another jurisdiction, please refer to
                12.
                Local Law Addenda to see which privacy rights you might have.
            </p>
        </section>

        <section>
            <h2>8.1 Your privacy rights.</h2>
            <p>In relation to our processing of your personal data, you may have the below privacy rights.
            Right to withdraw consent. In so far as our processing of your data is based on your consent, you have the
            right to withdraw your consent at any time via our contact details stated below. Withdrawal of consent does
            not influence the legitimacy of the processing before you withdrew your consent. If you withdraw your
            consent, Tap Tap Games will no longer process your data for the purpose that you consented to. It can
            however be possible that we still process the personal data for another purpose, such as to comply with a
            minimum retention period. In that case you will be informed about this.</p>

            <p>Right of access. You may have the right to request access to your data. This enables you to receive a copy
            of the data we hold about you (but not necessarily the documents themselves). We will then also provide you
            with further information on our processing of your personal data. For example, the purposes for which we
            process your data, where we got it from, and with whom we share it. Where applicable, we may refer to this
            Privacy Statement.</p>
            <p>Right to rectification. You may have the right to request rectification of the personal data that we hold
            about you. This enables you to have any incomplete or inaccurate data we hold about you corrected. You have
            this right in case we process personal data about you that: (i) is factually incorrect; (ii) is incomplete
            or not related to the purpose it was collected for; or (iii) is in any other way used in a manner that is in
            conflict with an applicable law.</p>
            <p>The right of rectification is not intended for the correction of professional opinions, findings or
            conclusions that you do not agree with. However, Tap Tap Games could in such case consider adding your
            opinion about this to your data.</p>
            <p>Right to erasure. You may have the right to request erasure of your personal data. This enables you to ask
            us to delete or remove your data where: (i) the data is no longer necessary, (ii) you have withdrawn your
            consent, (iii) you have objected to the processing activities, (iv) the data has been unlawfully processed,
            (v) the data has to be erased on the basis of a legal requirement, or (vi) where the data has been collected
            in relation to the offer of information society services.</p>
            <p>However, we do not have to honor your request to the extent that the processing is necessary: (i) for
            exercising the right of freedom of expression and information, (ii) for compliance with a legal obligation
            which requires processing, (iii) for reasons of public interest in the area of public health, (iv) for
            archiving purposes, or (v) for the establishment, exercise or defense of legal claims.
            Right to object. You may have the right to object to the processing of your data where we are relying on
            legitimate interest as processing ground (see above). Insofar as the processing of your data takes place for
            direct marketing purposes, we will always honor your request. For processing for other purposes, we will
            also cease and desist processing, unless we have compelling legitimate grounds which override your
            interests, rights and freedoms or that are related to the institution, exercise or substantiation of a legal
            claim. If such is the case, we will inform you on our compelling grounds and the balance of interests made.
            Right to restriction. If applicable, the right to restriction of processing means that Tap Tap Games will
            continue to store personal data at your request but may in principle not do anything further with it. In
            short, you have this right when Tap Tap Games does not have (or no longer has) any legal ground for the
            processing of your data or if this is under discussion. This right is specifically applicable in the
            following situations:</p>
            <p>Unlawful processing. We may not (or no longer) process certain personal data, but you do not want us to
            erase the data. For example, because you still want to request the data at a later stage.
            Data no longer required. Tap Tap Games no longer needs your data for our processing purposes, but you still
            require the personal data for a legal claim. For example, in case of a dispute.
            Pending an appeal. You objected against the processing of your data by Tap Tap Games (see the right to
            object above). Pending the verification of your appeal we will no longer process this personal data at your
            request.</p>
            <p>Contesting the accuracy of data. You contest the accuracy of certain data that we process about you (e.g.
            via your right to rectification; see above). During the period in which we assess your contest we will no
            longer process this personal data at your request.</p>
            <p></p>Right to data portability. You may have the right to request the transfer of your data to you or to a third
            party of your choice (right to data portability). We will provide you, or such third party, with your data
            in a structured, commonly used, machine-readable format. Please note that this right only applies if it
            concerns processing that is carried out by us by automated means, and only if our processing ground for such
            processing is your consent or the performance of a contract to which you are a party (see above).</p>
            <p></p>Automated decision-making. You may have the right not to be subject to a decision based solely on automated
            processing, which significantly impacts you ("which produces legal effects concerning you or similarly
            significantly affects you"). In this respect, please be informed that when processing your personal data, we
            do not make use of automated decision-making which significantly impacts you.</p>
            <p>Right to complaint. In addition to the above-mentioned rights, you may have the right to lodge a complaint
            with a supervisory authority, in particular in the country of your habitual residence, place of work or
            where an alleged infringement took place. However, we would appreciate the chance to deal with your concerns
            before you approach them, so please contact us beforehand.</p>

            <section>
            <h2>8.2 How to exercise your rights.</h2>
            <p>You can exercise your privacy rights free of charge, by phone or by e-mail via the contact details displayed
            below. If requests are manifestly unfounded or excessive, in particular because of the repetitive character,
            we may either charge you a reasonable fee or refuse to comply with the request.</p>
            </section>
            <section>
            <h2></h2>8.3 Verification of your identity.
            <p> We may request specific information from you to help us confirm your identity before we further respond to
            your privacy request.</p>
        </section>
        <section>
            <h2></h2>8.4 Follow-up of your requests.
            <p>We will provide you with information about the follow-up of the request without undue delay and in principle
            within one month of receipt of the request. Depending on the complexity of the request, the number of
            requests and the applicable law, this period can be extended. We will notify you of such an extension within
            one month of receipt of the request. The applicable law may allow or require us to refuse your request. If
            we cannot comply with your request, we will inform you of the reasons why, subject to any legal or
            regulatory restrictions.</p>
        </section>
        <section>
            <h2></h2>9. Who is responsible for the processing of your data?
            <p>Tap Tap Games is in principle responsible for the processing of your data in the context of the Tap Tap
            Games Website, but other parties may also be involved and responsible themselves, as specified below.</p>
        </section>
        <section>
            <h2></h2>9.1 Developers.
            <p>The developers of the games on the Tap Tap Games Website are in principle required to remove all outgoing
            links and branding/advertisements (e.g. splash-screens, social links and app-store links) from their
            game(s). If developers do gather personal data for their own purposes, Tap Tap Games is not responsible for
            this processing: only the developer decides what (personal) data is processed and for what purpose. However,
            because Tap Tap Games feels it is important that your data is also safe when you play a game, we took two
            measures. In the first place, we included contractual safeguards with the developers. They are only allowed
            to include cookies and similar technologies in their game if no consent for this is required under the
            applicable law. Concerning analytic cookies, such cookies are only allowed if the use is in line with
            applicable law and insofar privacy-impact is non-existent or minimal. In the second place, we have prepared
            this list of the cookies used by our game developers, categorized per game, to inform you on behalf of the
            developers.* For further information on developers cookies, please refer to our Cookie Statement.
            Furthermore, if you notice any possible undue processing by a developer of your data, please inform us so
            that we can investigate.</p>
        </section>
        <section>
            <h2></h2>9.2 Advertisement partners.
            <p>Tap Tap Games uses the services of several advertising parties. These parties provide us with advertisements
            for the Tap Tap Games Website and are responsible for their part of the processing of your data in this
            context. To nevertheless safeguard your privacy in this respect as much as possible, Tap Tap Games has,
            amongst other things, ensured that suitable contractual measures are in place. Further information regarding
            the use of cookies, also in the context of advertising partners, can be found in our Cookie Statement.</p>
        </section>
        <section>
            <h2></h2>9.3 Externally hosted games, third party games and other websites.
            <p>This Privacy Statement does not apply to usage of your data by other parties that are themselves responsible
            for such usage of your data, such as providers of third-party games available on the Tap Tap Games Website.
            The relevant provider of such third-party game is responsible for ensuring that any processing of your data
            by them in the context of a game complies with the applicable law. In principle, Tap Tap Games does not
            permit third party content providers to collect personal data about Website Visitors. However, if any
            personal data will be collected by a third-party content provider, Tap Tap Games will require that the
            processing of such data by them complies with the applicable law.</p>

            <p>* Please note that this list may not be complete, since randomized cookies that are placed with less than
            100 Website Visitors are not included in the list. Furthermore, the cookies used by developers may change
            over time. Therefore, we automatically update this list daily.</p>
        </section>
        <section>
            <h2></h2>10. How can you contact us?
            <p>If you have any questions concerning this Privacy Statement, or our usage of your data, please contact us at
            taptapgames.fun@gmail.com</p>

            <p>Please let us know by e-mail in advance if you prefer to have further contact over the phone in another
            language. We will then try to facilitate your request.</p>
        </section>
        <section>
            <h2></h2>11. Changes
            <p>We may change this Privacy Statement from time to time to accommodate new technologies, industry practices,
            regulatory requirements or for other purposes. The latest version can always be consulted via the Tap Tap
            Games Website. Important changes will also be communicated to you.</p>
        </section>
        <section>
            <h2></h2>12. Local Law Addenda
            <h4></h4>12.1 Local Law Addendum (Canada)
            <p>If you are currently visiting the Tap Tap Games Website from within the Canada region, the following
            applies:</p>
            <h4></h4>A. Privacy Rights
            <p>You have certain privacy rights, which you may contact us at taptapgames.fun@gmail.com in either English or
            French to exercise your rights. These include:
            Withdrawing Consent: If you have given consent to the processing of your personal information for one or
            more purposes, you are entitled to withdraw your consent at any time (without affecting the lawfulness of
            any information processing that took place before the withdrawal of consent). If you withdraw consent for
            processing that is necessary for us to provide our services, we may not be able to provide those services to
            you.</p>
            <p>Accessing and Correcting your Personal Information: You may access personal information which we hold about
            you, correct any inaccurate personal information about you and/or complete any incomplete personal
            information about you. You are entitled to access your personal information, subject to the restrictions on
            access that are set out in relevant laws. We reserve the right not to change personal information if we
            disagree that it is incorrect, but we will append your requested alternative information.</p>

            <p>Additional Rights: Under certain circumstances and subject to applicable local data protection laws, you may
            also be entitled to request additional information regarding our data governance practices, including
            details regarding what information is collected about you, the categories of persons who have access to your
            information, the right to be informed of and submit observations regarding automated decision-making, and
            information regarding how long your information will be retained for. You may also be entitled to request
            that we cease communicating your information, or de-index any hyperlink attached to your name that provides
            access to your personal information by technological means.</p>

            <p>Please note, we may require you to verify your identity before we allow you to access or correct your
            personal information, or exercise your other rights.</p>

            <h4></h4>B. Cookies
            <p>In Canada, we use advertising cookies, analytical cookies, and marketing cookies unless you opt out of these
            cookies via our Privacy Center. Please note that even if you opt out of cookies for personalized
            advertisements and analytical cookies, we may still use certain cookies. These include cookies used for the
            proper functioning of our Website and to remember your cookie choices. For more detailed information, please
            see our Privacy Statement and our Cookie Statement.</p>
        </section>

        <ins class="adsbygoogle grid-item span-2 item-grid gameslink" style="display:block"
        data-ad-client="ca-pub-5217316241873105" data-ad-slot="3089636456" data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    </div>
   
    <footer>
        <div class="container">
            <div class="footer-section col-md-3">
                <h3>About Us</h3>
                <p>Tap Tap Games <span id="currentYear"></span>. All rights reserved.</p>
            </div>
            <div class="footer-section col-md-3">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../aboutus.html">About</a></li>
                    
                    <li><a href="../privacypolicy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-section col-md-3">
                <h3>Contact Us</h3>
                <p>Email: taptapgames.fun@gmail.com</p>
            </div>
        </div>
    </footer>
    <script>
        [].forEach.call(document.querySelectorAll('.adsbygoogle'), function () {
           (adsbygoogle = window.adsbygoogle || []).push({});
       });
   </script>
</body>

</html>