<% if (games && games.length) { %>
    <% games.forEach(function(item) { %>
        <a href="<%= item.pagelink.replace(/ /g,'_') %>" class="home-game-card home-game-card--small">
            <span class="home-game-card-overlay"></span>
            <span class="home-game-card-media">
                <img src="<%= item.thumb %>" alt="<%= item.name %>" width="350" height="350" loading="lazy" decoding="async">
            </span>
            <span class="home-game-card-title"><%= item.name %></span>
        </a>
    <% }); %>
<% } %>
